<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArZMxbrnyxwdkSlJxZW_E3bD0Uyoc7hPs</string>
	<key>GCM_SENDER_ID</key>
	<string>235560978431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zakkimudhoffar.FanAssignment</string>
	<key>PROJECT_ID</key>
	<string>fanassignment</string>
	<key>STORAGE_BUCKET</key>
	<string>fanassignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235560978431:ios:20a63903b347e76c0349ca</string>
</dict>
</plist>